# Project exclude paths
/cloud-consumer-oder80/target/
/cloud-provider-payment8001/target/
/pro1-cloud-api-commons/target/
/pro2-cloud-eureka-server7001/target/
/pro3-cloud-eureka-server7002/target/
/pro4-cloud-provider-payment8002/target/
/pro5-cloud-provider-apyment8004/target/
/pro6-cloud-consumerzk-order80/target/
/pro7-cloud-providerconsul-payment8006/target/
/pro8-cloud-consumersonsul-order80/target/
/pro13-cloud-gateway-gateway9527/target/